*/bin/*
!*/bin/sv/
!*/bin/sv/*
*/packages/
*/obj/
*/SuperHappyDecision.v12.suo
*.bak
*.psess
*.vspx
SuperHappyDecision/bin/sv/FourDecision.resources.dll
SuperHappyDecision/Images/Markers/
*.etl
SuperHappyDecision/ConnectionStrings.config
SuperHappyDecision/SuperHappyDecision.csproj.user
SuperHappyScript/SuperHappyScript.csproj.user
SuperHappyMapTools/SuperHappyMapTools.csproj.user
SuperHappyDecision/Images/Icons/Thumbs.db
SuperHappyDecision/.vs/config/applicationhost.config
SuperHappyDecision/.vs/SuperHappyDecision/v15/sqlite3/storage.ide
SuperHappyDecision/.vs/SuperHappyDecision/v15/.suo
SuperHappyHomepage/SuperHappyHomepage/Content/images/Thumbs.db
.vs/
SuperHappyHomepage/SuperHappyHomepage/obj/
packages/
